<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>FreeDrive - Fichier</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/906/906329.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/all.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <img src="https://cdn-icons-png.flaticon.com/512/906/906329.png" alt="logo" width="36" class="icon">
            <div class="logo_name">FreeDrive</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <div id="searchFrom">
                    <i class='bx bx-search'></i>
                    <input id="searchText" type="search" placeholder="Fichier (img.png)">
                    <input type="submit" style="display: none" />
                    <span class="tooltip">Rechercher un fichier</span>
                </div>

            </li>
            <li>
                <a href="/fichier">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Fichier</span>
                </a>
                <span class="tooltip">Fichier</span>
            </li>
            <li>
                <a href="/upload">
                    <i class='bx bx-cloud-upload'></i>
                    <span class="links_name">Upload</span>
                </a>
                <span class="tooltip">Upload</span>
            </li>
            <!-- <li>
                 <a href="#">
                     <i class='bx bx-user'></i>
                     <span class="links_name">User</span>
                 </a>
                 <span class="tooltip">User</span>
             </li> -->
            <li class="profile">
                <div class="profile-details">
                    <img src="<%= p %>"
                        alt="profileImg" id="profilimg">
                    <div class="name_job">
                        <div class="name">
                            <%= u %>
                        </div>
                        <div class="job">
                            <%= j %>
                        </div>
                    </div>
                </div><i class='bx bx-log-out' onclick="deco()" id="log_out"></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <center>
            <h1>Fichier</h1>
            <div id="info">
                <span id="txt">
                    <%= a %>
                </span>
                <a class="copyscreen" id="btnn"
                    onclick=" var canvas = document.createElement('canvas');canvas.style.display = 'none';canvas.width = img.width;canvas.height = img.height;var ctx = canvas.getContext('2d');ctx.drawImage(img, 0, 0);canvas.toBlob(async (blob) => {;    try {await navigator.clipboard.write([ new ClipboardItem({ 'image/png': blob }) ]); alert('l\'image a bien été copier !')    } catch (error) {alert('Imposible de copier l\'image !');console.error(error);};});canvas.remove();">
                    <i class="fa fa-clone"></i></a>
                <a id="btnn"
                    onclick="var element = document.createElement('a');element.setAttribute('href', '<%= b %>');element.setAttribute('download', '<%= n %>');element.style.display = 'none';document.body.appendChild(element);element.click();document.body.removeChild(element);">
                    <i class="fa fa-cloud-download"></i></a>

                <img src="<%= b %>" id="img" alt="img">
                <br>
                <a href="/delete/<%= u %>/<%= n %>"> <input type="button" id="btnnn" value="Supprimer"> </a>
            </div>
        </center>
    </section>
    <script src="/js/menu.js"></script>
    <script src="/js/search2.js"></script>

</body>

</html>